<h1>商品新規登録</h1>
<!--中央揃え-->
<p>商品画像</p>
<!--選択されているかを右に表示する-->
<p>商品名</p>
<p>商品説明</p>
<p>ジャンル</p>
<!--クリックで▼から選択できるようにする-->
<p>税抜価格</p>
<p>販売ステータス</p>
<!--クリックで○選択できるようにする-->
<p>販売ステータス</p>
<!--新規登録ボタンの作成＊緑-->