<h1>注文履歴詳細</h1>
<!--管理者用topページの注文履歴から-->
<p>購入者</p>
<p>注文日</p>
<p>注文先</p>
<p>支払方法</p>
<p>注文ステータス</p>
<!--更新ボタンの追加＊緑-->

<!--左下にテーブル表示-->
<p>商品名</p>
<p>単価（税込）</p>
<P>数量</P>
<p>小計</p>
<p>制作ステータス</p>
<!--変更ボタンを表示*緑-->


<!--右下に請求金額の表示-->
<p>商品合計</p>
<p>送料</p>
<p>請求金額合計</p>