<h1>ジャンル一覧・追加</h1>

<p>ジャンル名</p>
<%= form_with model: Genre.new , url: genres_path, method: :post do |f| %>
   <div class="form-group">
    <%= f.label :name, 'ジャンル名' %>
    <%= f.text_field :name, class: 'form-control' %>
   </div>
<% end %>
<p>ジャンル</p>
<table class="table ">
<thead>
<tr>
<th>ジャンル</th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<th></th>
<th></th>
</tr>
</tbody>
</table>