<h4>ジャンル検索</h4>
<!--各ジャンルをボックス内に表示-->

<!--top中央に表示される文-->
<p>ようこそ、ながのCAKEへ！</p>
<p>このサイトはケーキ販売のECサイトになります。</p>
<p>会員でない方も商品の閲覧はできますが、</br>購入には会員登録が必要になります。</p>

<h2>新着商品</h2>
<!--4つの新着商品を画像、値段、商品名を記載して表示-->

<!--すべての商品を見るのリンクを右下作成-->
