<h1>注文履歴詳細</h1>
<table>
  <tr>
   <th>注文日</th>
   <td></td>
  </tr>
  <tr>
   <th>配送先</th>
   <td></td>
  </tr>
  <tr>
   <th>支払方法</th>
   <td></td>
  </tr>
  <tr>
   <th>ステータス</th>
   <td></td>
  </tr>
</table>

<table>
  <tr>
   <th></th>
   <td></td>
  </tr>
</table>